/.*
!.gitignore
/composer.lock
/target/
/vendor/
/doc/
/bin/yuicompressor.jar
/bin/phpuml
/bin/doctrine
/bin/doctrine-dbal
/bin/doctrine.php
/bin/itc
/bin/itc-initd
/bin/phpunit
/bin/paratest
/bin/behat
/bin/doctrine-dbal
/bin/doctrine-migrations
/bin/sql-formatter
/bin/sauce_config
/bin/validate-json